{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>GroupsApp</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>



<div id="loginScreen" class="centered">
    <div class="login-card">
        <h2>Login</h2>
        <input type="text" id="username" placeholder="Username">
        <input type="password" id="password" placeholder="Password">
        <button onclick="login()">Entrar</button>
    </div>
</div>



<div id="appScreen" style="display:none;">

    <div class="topbar">
        <h3>GroupsApp</h3>
        <div id="userInfo"></div>
    </div>

    <div class="layout">

        <div class="sidebar" id="dashboard">
            <button onclick="createGroupPrompt()">+ Crear Grupo</button>
            <div id="groupsList"></div>
        </div>

     
        <div class="chat-area" id="chatArea" style="display:none;">

            <button onclick="backToGroups()" class="back-btn">⬅ Volver</button>

            <div id="chatHeader"></div>

            <div id="messagesContainer"></div>

            <div class="message-input">
                <input type="text" id="messageContent" placeholder="Escribe un mensaje...">
                <button onclick="sendMessage()">Enviar</button>
            </div>

        </div>

    </div>
</div>

<script src="{% static 'js/app.js' %}"></script>
</body>
</html>